// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: 'Poppins', sans-serif;

    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.btn {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;
    padding: 16px 42px;
    background: $secondary;
    box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
    border-radius: 15px;

    @media(max-width: $breakpoint768) {
        padding: 14px 32px;
    }
    &:hover{
        background-color: #edeae9;
        color: $secondary;
        transition: .3s all ease;
    }
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    /* identical to box height, or 55px */

    letter-spacing: -0.03em;

    color: $primary;

    @media(max-width: $breakpoint992) {
        font-size: 36px;
        line-height: 100%;
    }

    @media(max-width: $breakpoint768) {
        font-size: 26px;
        line-height: 80%;
    }

    @media(max-width: $breakpoint480) {
        font-size: 14px;
    
        line-height: 60%;
    }

    span {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 110%;
        /* identical to box height, or 55px */

        padding-left: 8px;
        letter-spacing: -0.03em;

        color: $secondary;

        @media(max-width: $breakpoint992) {
            font-size: 36px;
            line-height: 100%;
        }

        @media(max-width: $breakpoint768) {
            font-size: 26px;
            line-height: 80%;
        }

        @media(max-width: $breakpoint480) {
            font-size: 14px;
            line-height: 60%;
        }
    }
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */


    color: $primaryLight;

    @media(max-width: $breakpoint992) {
        font-size: 14px;
        line-height: 140%;
    }

    @media(max-width: $breakpoint480) {
        font-size: 12px;
        line-height: 100%;
    }
}